<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.vinova.vss.group5.non"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	 
    <uses-sdk
        android:minSdkVersion="8"
        />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sg.vinova.vss.group5.non.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sg.vinova.vss.group5.non.OAuthActivity"
            android:label="@string/title_activity_oauth" >
        </activity>
        <activity
            android:name="sg.vinova.vss.group5.non.PrepareRequestTokenActivity"
            android:label="@string/title_activity_prepare_request_token" 
            android:launchMode="singleTask">
            <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="x-oauthflow" android:host="callback" />
			</intent-filter>
        </activity>
	</application>

</manifest>
